# TASK 1: UNDERSTAND VARIABLES ASSIGNMENT

In [3]:
# Define a variable name 'x' and assign a number (integer) to it
# integer is a whole number that could be positive and negative

x = 400

In [4]:
# Let's view 'x'

# this is my first code in python

x

400

In [19]:
#get the datatype of x which is 'integer'

In [20]:
type (x)

int

In [10]:
# Define a variable named 'y' and assign a number (float) to it
# Float are real numbers with a decimal point dividing the integer and fractional parts

y = 500.50

In [11]:
# Let's view 'y'

y

500.5

In [12]:
# Let's overwrite 'y' (assume your portfolio value increased)

y=330.5

In [13]:
# Notice that 'y' will only contain most recent value

y

330.5

In [21]:
# get the datatype of y which is 'float'

In [22]:
type(y)

float

# MINI CHALLENGE #1

We defined a variable z and we assigned these 4 values listed below to it. Without executing any code what will these lines of 
code generate? Verify your answer by executing the code cells

z = 1000
z = 2000
z = 5000
z = 6000
z

In [16]:
z = 1000
z = 2000
z = 5000
z = 6000
z

6000

# TASK #2 : PERFORM MATH OPERATIONS IN PYTHON

In [17]:
# define a variable named i and initialize it with 20
# Let's assume that we want to increment the value by 4

In [25]:
i = 20
i = i + 4
print(i)

24

In [26]:
# Let's assume you own a little grocery store
# The price of 1 bottle of milk is $3 and we currently have 50 bottles
# We can calculate the total dollar value of our inventory as follows:

count = 50
price = 3
inventory = count * price
print(inventory)

150

In [ ]:
# Let's assume you have $550 USD in your bank account
# We want to buy x number of IBM stocks using the total amount
# Each IBM stock is priced at $128 each